<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Your privacy is important to us. It is North Basin Coating Inc.'s policy to respect your privacy regarding any information">
    <meta name="author" content="">

    <title>Privacy Policy - North Basin Coating Inc</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/agency.css" rel="stylesheet">

</head>

<body id="page-top">

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top custom-nav" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="index.html"><img src="img/NorthBasin.png" alt="North Basin Coating Inc" class="img-responsive"/> </a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav text-uppercase ml-auto">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="index.html">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="about.html">about north basin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="advantage.html">The North Basin Advantage</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="contact.html">contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- Services -->
<section class="privacy-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="section-heading">Privacy Policy</h1>
                <div class="section-details">
                    <p>Your privacy is important to us. It is North Basin Coating Inc.'s policy to respect your privacy regarding any information we may collect from you across our website, <a href="http://www.northbasincoating.com/">http://www.northbasincoating.com/</a>, and other sites we own and operate.</p>
                    <p>We only ask for personal information when we truly need it to provide a service to you. We collect it by fair and lawful means, with your knowledge and consent. We also let you know why we’re collecting it and how it will be used.</p>
                    <p>We only retain collected information for as long as necessary to provide you with your requested service. What data we store, we’ll protect within commercially acceptable means to prevent loss and theft, as well as unauthorised access, disclosure, copying, use or modification.</p>
                    <p>We don’t share any personally identifying information publicly or with third-parties, except when required to by law.</p>
                    <p>Our website may link to external sites that are not operated by us. Please be aware that we have no control over the content and practices of these sites, and cannot accept responsibility or liability for their respective privacy policies.</p>
                    <p>You are free to refuse our request for your personal information, with the understanding that we may be unable to provide you with some of your desired services.</p>
                    <p>Your continued use of our website will be regarded as acceptance of our practices around privacy and personal information. If you have any questions about how we handle user data and personal information, feel free to contact us.</p>
                    <p>This policy is effective as of 7 January 2019.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Footer -->
<footer>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-2 perfect-center">
                <div class="img-container">
                    <a href="index.html"><img src="img/NorthBasin.png" alt="North Basin Coating Inc" /></a>
                </div>
            </div>
            <div class="col-md-3">
                <h4 class="footer-heading">locations</h4>
                <p class="text-muted"><a href="https://goo.gl/maps/RcJmHC2QT312">North Basin Coating Inc.<br>
                    2041 W. State Rd 300</a><br>
                    P.O. Box 730 Levelland, TX 79336<br>
                    Tel: <a href="tel:806-894-1531">806-894-1531</a> - Fax: 806-894-8181</p>
                <p class="text-muted"><a href="https://goo.gl/maps/G1oUKUHc5kz">North Basin Coating Inc.<br>
                    3902 South County Road 1286<br>
                    Odessa, TX 79765</a><br>
                    Tel: <a href="tel:432-563-9600">432-563-9600</a> - Fax: 432-563-9601</p>
            </div>
            <div class="col-md-5">
                <h4 class="footer-heading">contact us</h4>
                <form>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" name="name" class="form-control name" placeholder="Name" required>
                            </div>
                            <div class="form-group">
                                <input type="number" name="phone" class="form-control phone" placeholder="Phone" required>
                            </div>
                            <div class="form-group">
                                <input type="email" name="email" class="form-control email" placeholder="Email" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" name="company_name" class="form-control company" placeholder="Company Name" required>
                            </div>
                            <div class="form-group">
                                <textarea type="text" name="message" rows="3" class="form-control message" placeholder="Message" required></textarea>
                            </div>
                            <div class="form-group submit">
                                <button type="submit" name="submit" class="btn btn-warning">Submit</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-1 col-sm-1"></div>
            <div class="col-md-5 col-sm-12">
                <div class="copyright">
                    <span class="copyright">Copyright &copy; 2019 North Basin Coating</span>
                </div>
            </div>
            <div class="col-md-5 col-sm-12 perfect-end">
                <ul class="list-inline quicklinks">
                    <li class="list-inline-item">
                        <a href="privacy_policy.html">Privacy Policy</a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#">|</a>
                    </li>
                    <li class="list-inline-item">
                        Crafted with Care by  <a href="https://www.primitivesocial.com/">Primitive Social</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-1 col-sm-1"></div>
        </div>
    </div>
</footer>

<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Plugin JavaScript -->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Contact form JavaScript -->
<script src="js/jqBootstrapValidation.js"></script>
<script src="js/contact_me.js"></script>
<!-- Custom scripts for this template -->
<script src="js/agency.js"></script>

</body>

</html>
